DEBUG="true"
LISTEN=":13305"
TARGETS=":13306"
SERVER=":13307"
BALANCER_TYPE="round-robin"
INFOBIP_API=""
INFOBIP_HOST="r541zm.api.infobip.com"
INFOBIP_RECIPIENT=""
INFOBIP_COOLDOWN="1m"
INFOBIP_RECEIVE_THRESHOLD="39"
